@import "fonts.css";

body{
    font: 14px/22px "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    font-weight: 300;
    margin: 0px;
    padding: 0px 0 20px 0px;
    background: url(../images/body-background.png) #eae6d1;
}

/* .site-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
} */

ul{
	list-style: none;
}
.phone-list li{
	
	background: #fff;
	border-radius: 5px 5px;
	margin-bottom: 10px;
	padding: 5px 20px;
	
}

.phone-list img{
	width: 100px;
	height: 100px;
}

.phone-cat{
	margin: 10px 40px;
}

.phone-detail-info{
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

.phone-thumbs{
	overflow: hidden;
}

.phone-thumbs li{
	float: left;
	margin-right: 20px;
}

.phone-short-info{
	width: 90%;
	
}
.phone-pic{
	float: left;
	margin-right: 30px;
	margin-left: 20px;
}